
body {
  font-family: 'Zilla Slab', serif;
  background-color: #6fc0ff;
}

header {
  text-align: center;
}

a, a:visited {
  color: black;
}

main {
  margin-top: 20px;
  display: -webkit-flex; /* required for mobile safari */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

}

.stream {
  color: rgb(20,20,20);
}

a.channel {
  color: black;
  text-decoration: none;
}

a.channel:visited {
  color: black;
}

table {
  margin-top: 5px;
  border-collapse: collapse;
  border: 4px solid black;
}

td {
  padding: 10px;
  border-collapse: collapse;
  border-bottom: 4px solid black;
  text-overflow: ellipsis;
}

.offline {
  background-color: #E8E8E8
}

.offline:hover {
  background-color: #D0D0D0;
}

.streaming {
  background-color: #BDF4CB;
}

.streaming:hover {
  background-color: #93EEAA;
}

.not-found {
  background-color: #FFDFDF
}

.logo {
  width: 3em;
  height: 3em;
}

.loader {
  /*credit: https://www.w3schools.com/howto/howto_css_loader.asp */
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
